
.grow-click {
    transition: 0.4s;
}

.justify-between {
    justify-content: space-between;
}

/* .label-float {
    width: fit-content;
    padding: 0px 11px;
    letter-spacing: 1px;
    font-size: 16px;
    transform: translate(44px, 12px) !important;
    transition: 0.7s;
    font-weight: 500;
    color: #bb0303;
    border-radius: 10px;
    background-image: linear-gradient(360deg, white 37%, #fafafa 60%);
} */

.input-rosify {
    width: calc(100% - 62px);
    margin: 0px 15px;
    height: 60px;
    border-radius: 20px;    
    border-bottom: 2px solid #ff2770;
    border-right: 5px solid #fc1e68;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    padding: 12px;
}




.s-5pag {
    width: 50px;
    height: 50px;
    display: initial;
    transition: 0.7s;
}


